/* work sans font  */

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700&family=Open+Sans:ital,wght@0,500;0,800;1,500;1,600;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,800&display=swap');

/* global section */
*{
font-family: 'Marck Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}
.text-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    line-height: 26px; 
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}
.section-title{
    color: var(--dark-01, #131313);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}
.heading{
    font-size: 2.5rem;
    font-weight: 700;

}

/* header section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    display: flex;
}
.nav-item{
    list-style: none;
    font-size: 1rem;
    margin: 10px;
}
nav li a{
    text-decoration: none;
}
/* banner style */
.banner-content{
    width: 800px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.section-title{
    color: var(--dark-01, #131313);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.banner-img{
    margin-top: 20px;
    width: 100%;
}
/* main section */
main{
    max-width: 1440px;
    margin: 80px 200px;
}
/* main-sec */
.features-list{
    display: flex;
    align-items: center;
}
.team-img{
    width: 240px;
    height: 240px;
}
.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.team-details{
    padding-left: 50px;
    padding-right: 50px;
}
.quick-list{
    color: var(--dark-03, #727272);
    font-weight: 500;
    font-size: 2.8rem;
}
.of-Our{
    color: var(--dark-01, #131313);
    font-weight: 700;
    font-size: 2.8rem;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
    font-size: 2.8rem;
}

/* facts */
.fact-sec .heading{
    margin: 5px;
    margin-top: 130px;
}
.fact-sec .text-description{
    width: 542px;
}
.fact-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fact-card{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px 20px;
}
.card-status{
    color: var(--dark-02, #424242);
    font-weight: 600;
    font-size: 2.8rem;
    margin: 5px;
}
.card-title{
    color: var(--dark-03, #727272);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 5px;
}





/* responsive media */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .features-list{
        flex-direction: column;
    }
    .banner-content{
        width: 350px;
    }
    .teams-images{
        grid-template-columns: 1fr;
    }
    .team-details{
        padding-left: 30px;
        padding-right: 30px;
    }

}

/* tab media */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    nav, .features-list{
        flex-direction: column;
    }
}